ion-title {
    color: #fff!important;
}

.detail-container {
  @media (max-width: 768px) {
    padding: 10px;
  }
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center; /* Выравниваем заголовок по центру */
  font-size: 2.5rem;
}
  
.detail-image {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
  margin: 0 auto 20px auto;
  border-radius: 8px;
  object-fit: contain;
}
.detail-content {
  font-size: 1.2rem;
  line-height: 1.2;
  padding: 5%;

}

ion-badge {
  /* Используем flex для выравнивания содержимого */
  display: inline-flex;
  align-items: center;
  gap: 5px; /* Добавляем небольшой отступ между иконкой и текстом */
}

.detail-comment {
  font-size: 0.9rem;
  padding: 0%, 5%;
  margin: 0%
}

.detail-comment-p {
  color: --var-color-primary;
  padding-left: 1.0rem;
}

/* Используем ::ng-deep, чтобы стили применились к контенту из [innerHTML] */
:host ::ng-deep .highlight {
  background-color: yellow; /* Цвет фона для подсветки */
  font-weight: bold; /* Делаем текст жирным */
}