ion-title {
    color: #fff!important;
}

.detail-container {
  @media (max-width: 768px) {
    padding: 10px;
  }
  display: flex;
  justify-content: start;
}
  
.detail-image {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
  margin: 0 auto 20px auto;
  border-radius: 8px;
  object-fit: contain;
}
.detail-content {
  font-size: 20px;
  line-height: 1.2;
  padding: 5%;

}

ion-badge {
  /* Используем flex для выравнивания содержимого */
  display: inline-flex;
  align-items: center;
  gap: 5px; /* Добавляем небольшой отступ между иконкой и текстом */
}