
    .home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150px; /* или подберите под ваш дизайн */
}
    .home-image {
      width: 260px;
      height: 146px;
      object-fit: cover;
    //   display: block;
      margin: 0 auto;
      border-radius: 8px;
      box-shadow: 0 4px 16px rgba(0,0,0,0.08);
  }
  ion-badge {
  /* Используем flex для выравнивания содержимого */
  display: inline-flex;
  align-items: center;
  gap: 5px; /* Добавляем небольшой отступ между иконкой и текстом */
}

/* Используем ::ng-deep, чтобы стили применились к контенту из [innerHTML] */
:host ::ng-deep .highlight {
  background-color: yellow; /* Цвет фона для подсветки */
  font-weight: bold; /* Делаем текст жирным */
}

ion-card[button] {
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}